
.guide-page-main{
    .Guides-page {
        background: url('../../../assets/images/blog\ 01.jpg') no-repeat center/cover ;
        background-color: rgb(28 28 28 / 66.4%);
        background-blend-mode: multiply;
        height: 400px;
        width: auto;
        
    
    
    }
    

}
