/* :root {
    --background_color: #0c2640;
    --color: #969696;
    --color_white: white;
    --hover_bg_color: #969696;
    --color-gray: #f5f5f5;
    --font_family: 'Arial', sans-serif;
} */

.Realtor_main_section {
    #featured a {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--background_color);
        color: var(--color-gray);
        transition: background-color 0.3s, color 0.3s;
    }

    #featured a:hover {
        background-color: var(--hover_bg_color);
        color: var(--color_white);
    }

    /* Custom Hero Section */
    #developer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("../images/Developer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero .btn {
        background-color: var(--background_color);
        border: none;
        transition: background-color 0.3s, color 0.3s;
    }

    #hero .btn:hover {
        background-color: var(--hover_bg_color);
        color: var(--color-gray);
    }

    #about img {
        border-radius: 10px;
    }

    #services .fs-1 {
        color: var(--color);
    }

    /* Custom styles for cards */
    .card-title {
        font-weight: bold;
        color: #333;
    }

    #contact .form-control {
        border-radius: 0;
    }

    /* Footer styles */
    footer {
        background-color: #333;
        color: #fff;
    }

    .language_icons i {
        font-size: 14px;
    }
}